<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>测试</title>
</head>
<body>
<form action="/wxGZHGetAccessToken">
    公众号APPID：<input type="text" name="APPID" value="wx039e92e118ff1c75"/>
    公众号Secret:<input type="text" name="Secret" value="dc6d98db306546bcfa45c844b83dbbad" /><br/>
    <input type="submit" value="提交"/>
</form>
<form action="/sendWxMessage">
    关联小程序APPID:<input type="text" name="xcxAppID" value="wx00908e29d3e458c0"/> <br/>
    指定小程序页面：<input type="text" name="xcxPage" value="pages/index?id=123"/><br/>
    <input type="submit" value="提交"/>
</form>
</body>
</html>